.rodape{
    background-color: var(--branco);
}

.rodape__titulo{
    color: var(black);
    font-size: 16px;
    margin: 1em;
    font-weight: 400;
}

.rodape__lista{
    display: none;
}


@media screen and (min-width: 1024px){
    .rodape__conteiner{
        display: flex;
        justify-content: space-around;
    }
    .rodape__lista{
        display: block;
        padding: 1em;
    }
    .rodape__lista-itens{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }
    .rodape__titulo{
        font-size: 24px;
    }
    .rodape__lista-titulo{
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--cinza-claro);
        margin: 1em 0;
    }
    .rodape__lista-link{
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: var(--cinza-escuro);
        margin-left: 1em;
    }
}
