.topicos{
    background-color: var(--cor-azul-degrade);
    padding: 1em;
    text-align: center;
}

.topicos__titulo{
    color: var(--branco);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 1.5em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista__item{
    margin: 1.5em 0.5em;
}

.item__link{
    background-color: var(--cor-titulo);
    padding: 1em;
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

